@model PagedList.IPagedList<Bonsal_Gardent.Areas.Admin.Data.Product>
@using PagedList.Mvc;
@using PagedList;
@{
    ViewBag.Title = "Index";
    Layout = "~/Areas/Admin/Views/Shared/_LayoutAdmin.cshtml";
}

<h2>Product list</h2>

<p>
    @Html.ActionLink("Create New", "Create", null, new { @class = "btn btn-success" })
</p>
<p>
    @using (Html.BeginForm("Index", "Products", FormMethod.Get))
    {
        <div class="input-group">
            <input name="search" type="search" class="form-control rounded" placeholder="Search" aria-label="Search" aria-describedby="search-addon" />
            <button type="submit" class="btn btn-dark">search</button>
        </div>
    }
</p>
<table class="table table-striped">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.First().Name)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.First().Info)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.First().Place)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.First().Address)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.First().Categogy.Name)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.First().Type.Name)
        </th>
        <th></th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Name)
            </td>
            <td>
                <p class="HideTextIfLong">
                    @Html.Raw(item.Info)
                </p>
            </td>
            <td>
                <p class="HideTextIfLong">
                    @Html.DisplayFor(modelItem => item.Place)
                </p>
            </td>
            <td>
                <p class="HideTextIfLong">
                    @Html.DisplayFor(modelItem => item.Address)
                </p>
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Categogy.Name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Type.Name)
            </td>
            <td>
                @Html.ActionLink("Edit", "Edit", new { id = item.ID }, new { @class = "btn btn-primary m-1 w-100" })
                @Html.ActionLink("Details", "Details", new { id = item.ID }, new { @class = "btn btn-success m-1 w-100" })
                @Html.ActionLink("Delete", "Delete", new { id = item.ID }, new { @class = "btn btn-danger m-1 w-100" })
            </td>
        </tr>
    }

</table>
<p class="fw-bold">@(Model.PageCount < Model.PageNumber ? 0 : Model.PageNumber) / @Model.PageCount</p>
<br />
<div id="PageList">
    @Html.PagedListPager(Model, index => Url.Action("Index", "Products", new { index, search = Request.QueryString["search"] }))
</div>